<!DOCTYPE html>
<html>
<head>

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    {% block head %}{% endblock %}

</head>
<body style="background:url({{'../static/css/background.png'}});">


<nav class="navbar navbar-expand-lg navbar-dark bg-dark justify-content-between">
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="/">Home </a>
            </li>

            <li class="nav-item">
                {% if request.endpoint == 'scraper'%}
                <a class="nav-link active" href="/scraper">Scraper </a>
                {%else%}
                <a class="nav-link" href="/scraper">Scraper </a>
                {% endif %}
            </li>
            <li class="nav-item">
                {% if request.endpoint == 'oglasnik'%}
                <a class="nav-link active" href="/oglasnik">Ads </a>
                {%else%}
                <a class="nav-link" href="/oglasnik">Ads </a>
                {% endif %}
            </li>

            <li class="nav-item">
                {% if request.endpoint == 'dashboard'%}
                <a class="nav-link active" href="/dashboard">Dashboard </a>
                {%else%}
                <a class="nav-link" href="/dashboard">Dashboard </a>
                {% endif %}
            </li>
        </ul>
    </div>

    <div class="form-inline">
        <ul class="navbar-nav">
            <li class="nav-item">
                {% if request.endpoint == 'register'%}
                <a class="nav-link active" href="/register">Register </a>
                {%else%}
                <a class="nav-link" href="/register">Register </a>
                {% endif %}
            </li>

            <li class="nav-item">
                {% if request.endpoint == 'login'%}
                <a class="nav-link active" href="/login">Login </a>
                {%else%}
                <a class="nav-link" href="/login">Login </a>
                {% endif %}
            </li>

            <li class="nav-item">
                {% if current_user.is_authenticated%}
                <a class="nav-link" href="/logout">Logout </a>

                {% endif %}
            </li>
        </ul>

    </div>
</nav>


{% block body %}{% endblock %}

</body>
</html>


