{% extends 'base.html' %}

{% block body %}

<h1>Ads</h1>

<div class="row">
    {% for oglas in oglasi_list %}
    <div class="col-sm-6">
        <div class="card" style="margin:2em;">
            <div class="row card-body" style="background:gainsboro;border:groove;">
                <div class="col-8">
                    <h5 class="card-title">{{oglas.title}}</h5>
                    <p class="card-text">{{oglas.body}}</p>
                    <p style="font-weight:bold;" class="card-text">Price: {{oglas.price}}</p>
                    <p class="card-text">Added on: {{oglas.date_created}}</p>

                </div>
                <p class="col-4">

                    <a href="static/uploads/{{oglas.img_url}}" target="_blank">
                        <img src="static/uploads/{{oglas.img_url}}" alt="img"
                             style="width:100px;height:100px; position: absolute;top:0;right:0;"/>
                    </a>

                </p>
                <a style="position: absolute;bottom:1em;right:0.5em;" href="mailto:{{oglas.email}}"
                   class="btn btn-dark">Send email</a>

            </div>

        </div>

    </div>

    {% endfor %}
</div>


{% endblock %}
